.setup-panel {
  font-size: .8em;
  position: absolute;
  left: 5%;
  top: 0;
  width: 40%;
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #999999;
}

.btn-round {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  padding: 0;
}

.setup-player-menu-title {
  display: inline-block;
  min-width: 1.5em;
}
